.users {

  &__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    list-style-type: none;
    margin-bottom: 56px;
  }

  @media (max-width: 1400px) {
    &__list {
      grid-template-columns: repeat(3, 1fr);
      justify-content: center;
      justify-items: center;
    }
  }

  @media (max-width: 990px) {
    &__list {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  @media (max-width: 670px) {
    &__list {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  &__button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto 69px auto;
    text-align: center;
    font-family: inherit;
    color: #151317;
    font-size: 1.6rem;
    font-weight: 400;
    padding: 9px 16px;
    outline: none;
    border: 1px solid black;
    border-radius: 8px;
    background-color: transparent;
    cursor: pointer;
  }

  &__button>img {
    margin-left: 11.3px;
  }
}