.item {
  position: relative;
  width: 305px;
  padding-top: 36px;
  padding-bottom: 20px;
  padding-left: auto;
  padding-right: auto;
  border-radius: 10px;
  box-shadow: 0px 1px 3.98px 0px #33333326;

  &__link {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__img {
    border-radius: 50%;
    margin-bottom: 16px;
    width: 124px;
    height: 124px;
  }

  &__name {
    font-size: 2rem;
    font-weight: 400;
    margin-bottom: 16px;
  }

  &__like {
    display: block;
    margin-left: auto;
    margin-right: 20px;
    padding: 8px;
    border-radius: 4px;
    background-color: #F8F8F8;
    border: none;
    outline: none;
    cursor: pointer;
  }
}